---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Data from '../components/Data.astro';
---

<Layout title="Frontend Mentor | Fylo data storage component">
	<main>
		<div class="card">
			<Card />
		</div>
		<div class="data">
			<Data />
		</div>
	</main>
</Layout>

<style lang="scss">
	main{
		background: url(bg-mobile.png) no-repeat center center/ cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		gap: 1em;

		@media screen and (min-width: 1200px) {
			background: var(--veryDarkBlue) url(bg-desktop.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom;
			flex-direction: row;
			gap: 2em;
		}
	}
</style>
